!!! 5
html(lang="en")
    head
        title Placeholder (WIP)
        link(rel="stylesheet", type="text/css", href="stylesheets/index.css")
    body
        div#left
            div#calendar
                span#my 02/2012
