!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        title Kenji Takahashi
        link(rel="stylesheet", type="text/css", href="/stylesheets/code.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
    body
        div#center
            include center
        div#left
            include left
        div#right
            include right
