!!! 5
html(lang="en")
    head
        title Placeholder (WIP)
        link(rel="stylesheet", type="text/css", href="stylesheets/index.css")
    body
        div#left
            div#calendar
                a(href="/calendar/previous").pn#prev
                span#my
                    if(month < 10)
                        = '0'
                    = month
                    /
                    = year
                a(href="/calendar/next").pn#next
                table#datepicker
                    - var index = 0;
                    tr
                        each pday in previous
                            - index += 1;
                            td
                                a(href="/calendar/#{pday}").np= pday
                        each cday in current
                            if index == 7
                                tr
                                - index = 1;
                            else
                                - index += 1;
                            td
                                a(href="/calendar/#{cday}").c
                                    if(cday < 10)
                                        = '0'
                                    = cday
                        each nday in next
                            if index == 7
                                tr
                                - index = 1;
                            else
                                - index += 1;
                            td
                                a(href="/calendar/#{nday}").np
                                    if(nday < 10)
                                        = '0'
                                    = nday
