!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        title Kenji Takahashi
        link(rel='stylesheet', href='/css/code')
        link(rel='stylesheet', href='/css/index')
    body
        div#center
            include center
        div#left
            include left
        div#right
            include right
