div#comments(style="background-color:#ffffe3;position:absolute;top:-16px;right:-7px;width:100px;height:40px;z-index:2")
    a(href="/comments", style="display:block;width:100px;height:40px") comments
span.aheader Kenji Takahashi
br
span.atext
    | A student of Computer Science at The University of Wrocław, Poland. Mainly interested in high-level, dynamic programming and (G)UI designs. Likes good music and classic sci-fi books.
br
span.aheader Projects
br
span.atext
    each project in projects
        if project.active == true
            a(href="#{project.site}")= project.name
        else
            a(href="#{project.site}").pdname= project.name
        = ' ' + project.desc
        br
span#copyright Kenji Takahashi © 2012
    a(href="https://mixpanel.com/f/partner")
        img(src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png", alt="Mobile Analytics")
