div#comments
    a(href="/comments") comments
div#atop.aheader Karol Woźniak
span#aka aka 
span.aheader Kenji Takahashi
br
span.atext
    | A student of Computer Science at The University of Wrocław, Poland. Mainly interested in high-level, dynamic programming and (G)UI designs. Likes good music and classic sci-fi books.
br
span.aheader Projects
br
span.atext
    each project in projects
        if project.active
            a(href="#{project.site}")= project.name
        else
            a(href="#{project.site}").pdname= project.name
        = ' ' + project.desc
        br
    span
        | and more @ 
        a(href="http://github.com/KenjiTakahashi") github
    br
span#copyright Kenji Takahashi © 2012 - 2013
    a(href="https://mixpanel.com/f/partner")
        img(src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png", alt="Mobile Analytics")
