body {
  background: url("../images/bg.png");
}
#left {
  width: 242px;
  margin-left: 17px;
  margin-top: -8px;
}
#calendar {
  background: url("../images/cal.png") no-repeat;
  height: 124px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: bold;
}
#calendar span {
  position: relative;
}
#calendar #my {
  left: 83px;
  top: 5px;
}
