$main = #c8c8c8
$amain = #555555
$ahover = #1c7272

html, body
    margin 0px
    height 100%
body
    color $main
    font-family monospace
#o
    height 100%
    min-height 100%
    display table
    width 100%
#i
    display table-cell
    vertical-align middle
    padding 10px 0px 14px
    width 70%
.m
    max-width 15%
#foot
    clear both
    margin-top -14px
    position relative
    right 10px
    bottom 10px
    float right

#head
    font-size 16px
#items
    font-size 13px
    list-style none
    margin 4px 0px 0px
    padding 0px
a
    color $amain
    text-decoration none
a:hover
    color $ahover
.dead
    text-decoration line-through
#post
    font-family sans-serif
    font-size 14px
    color $amain
    text-align justify
    a, #title
        font-weight 700
    a
        text-decoration underline
pre
    overflow-x auto
    code
        background white
        margin 0px
        padding 0px
        font-size 11px
canvas
    background white
.notice
    background $main
    padding 5px
    margin 5px 0px
    span
        float right
