$amain = #151515
$ahover = #2187db
$aprev = #666666
$bcolor = #ffffe3
$rhcolor = #b2b2b2
$arcolor = #7f7f7f

body
    background url("../images/bg.png")
    height 100%
a
    color $amain
a:hover
    color $ahover
.pn
    position relative
    display inline-block
    height 4px
.pn:hover
    background-color $ahover
#left
    position fixed
    width 242px
    margin-left 9px
    margin-top -8px
    float left
    font-family "Courier New", Courier, monospace
    #calendar
        background url("../images/cal.png") no-repeat
        color #151515
        height 138px
        font-size 15px
        font-weight bold
        .pn
            width 31px
            top 2px
        #prev
            left 18px
        #next
            left 82px
        #my
            display inline-block
            position relative
            left 50px
            top 5px
        #datepicker
            position relative
            border-collapse collapse
            left 13px
            top 9px
            font-size 11px
            text-align right
            a
                text-decoration none
            .np
                color $aprev
            td
                padding-bottom 6px
                padding-left 12px
    #tags_chooser
        background url("../images/tag.png") no-repeat
        height 230px
        margin-top 16px
        font-size 14px
        line-height 17px
        .pn
            width 189px
            left 18px
        #tprev
            top -1px
        #tnext
            bottom 10px
        #tags_links
            position relative
            top -4px
            .tag
                position relative
                left 24px
                text-decoration none
            .tagcount
                position relative
                float right
                top 1px
                right 41px
                text-align right
    #posts
        background url("../images/pos.png") no-repeat
        height 196px
        margin-top 16px
#center
    margin-top -8px
    position absolute
    height 100%
    left 0px
    right 0px
    #title
        position fixed
        left 258px
        right 258px
        text-align center
        #title_main
            background-color $bcolor
            font-weight bold
            font-size 17px
            padding-left 31px
            padding-right 5px
        #tags
            background-color: $bcolor
            font-size 12px
            padding-left 31px
            padding-right 5px
            padding-bottom 2px
        #lleft
            display block
            background-color $bcolor
            width 31px
            height 4px
            float left
        #lright
            display block
            background-color $bcolor
            width 5px
            height 4px
            float right
    #content
        padding-top 1px
        padding-left 31px
        padding-right 5px
        padding-bottom 16px
        font-size 14px
        text-align justify
        background-color $bcolor
        position absolute
        top 42px
        left 258px
        right 258px
        min-height 100%
#right
    position fixed
    right 7px
    width 225px
    margin-top 28px
    float right
    font-weight bold
    .aheader
        color $rhcolor
        font-size 22px
    .atext
        color $bcolor
        font-size 13px
        a
            color $arcolor
            text-decoration none
        a:hover
            color $ahover
        .pdname
            text-decoration line-through
    #copyright
        color $rhcolor
        font-size 13px
        position fixed
        bottom 16px
pre
    overflow-x auto
    code
        font-size 11px
        background $bcolor
