!!! 5
html(lang="en")
    head
        title Placeholder (WIP)
        link(rel="stylesheet", type="text/css", href="stylesheets/index.css")
    body Nothing to see here, move along and come back in two days.
